# note all are required for the project, but some are commented out so that streamlit can run without issues.

streamlit>=1.29
numpy==1.26.4
pandas==2.1.1
scikit-learn==1.4.2
joblib==1.4.2
matplotlib==3.8.4
seaborn==0.13.2
