# note all are required for the project, but some are commented out so that streamlit can run without issues.

streamlit>=1.29
numpy==1.26.4
pandas==2.1.1


# matplotlib==3.8.4
# seaborn==0.13.2

# scikit-learn==1.4.2
# xgboost==2.0.3

joblib==1.4.2

# notebook==7.2.0
# ipykernel==6.29.4

